@chartset 'utf-8';

body, a{
	color: #8c8c8c;
	font-family: sum sun;
	font-size: 12px;
}

a{
	text-decoration: none;
}

.fr{
	float: right;
}

.fl{
	float: left;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

a:hover{
	color: #73adc9;
}

.header{
	height: 36px;
	line-height: 36px;
	border-bottom: 1px solid #dfdfdf;
	padding-left: 70px;
	padding-right: 70px;
}

.split-line{
	margin: 0 3px;
	color: #dfdfdf;
}

.up-arrow{
	background: url(./up.png) 0 0 no-repeat;
	display: inline-block;
	width: 9px;
	height: 5px;
}


.ml150{
	margin-left: 285px;
}

/* 网页主体部分 */
.main{
	margin-top: 30px;
	padding-left: 70px;
	padding-right: 70px;
}

.logo{
	width: 154px;
	height: 42px;
}

.search-bar{
	background: #feda4e;
	border: 1px solid #ebca4d;
	height: 40px;
	line-height: 40px;
	text-align: center;
}

.search-bar .unit-item{
	width: 50px;
	display: inline-block;
	color: #404144;	
	font-weight: bold;
	font-size: 18px;
	border-right: 1px solid #dfdfdf;
}

.search-bar .unit-item:last-child{
	border-right: none;
}

.search-input{
	margin-right: 10px;
	width: 470px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #dfdfdf;
	padding-left: 20px;
	position: relative;
}

.search-input input{
	color: #000;
	border: none;
	outline: none;
	font-size: 14px;
	margin-right: 50px;
}

.other{
	color: #3e3e3e;
	width: 60px;
	height: 18px;
	line-height: 18px;
	display: inline-block;
	text-align: center;	
}

.other:hover{
	background: #f0f0f0;
	color: #3e3e3e;
}

.search-icon{
	width: 40px;
	height: 40px;
	line-height: 50px;
	position: absolute;
	right: 0;
	top: 0;
	text-align: center;
	border-left: 1px solid #dfdfdf;
}

.search-icon:hover{
	background: #ff318c;
	cursor: pointer;
}

.search-icon span{
	background: url(./search1.png) 0 0 no-repeat;
	width: 16px;
	height: 16px;
	display: inline-block;
}

.search-icon:hover span{
	background: url(./search2.png) 0 0 no-repeat;
}

.nav{
	margin-top: 20px;
	height: 44px;
	line-height: 44px;
	background: #313137;
	color: #fff;
	font-size: 18px;
	font-family: 'Microsoft Yahei';
}

.nav ul {

}

.nav ul li{
	float: left;
	/*width: 100px;*/
	padding: 0 25px;
	text-align: center;
}

.nav ul li:hover{
	cursor: pointer;
	background: #000;

}

.nav .hot{
	background: #feda4e;
	color: #000;
	font-size: 12px;
	padding: 0 4px;
	line-height: 0;
	border-radius: 2px;
}

.nav ul li:first-child{
	width: 180px;	
	background: #ff318c;
	text-align: left;
	padding-left: 20px;
}

.left-con{
	width: 225px;
}

.left-con ul li{
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #dfdfdf;
	border-left: 1px solid #dfdfdf;
	padding: 0 20px;
}

.left-con ul li span{
	font-size: 16px;
	color: #333;
	font-weight: bold;
}

.left-con ul li span:hover{
	cursor: pointer;
	color: #ff4883;
}

.left-con ul li a{
	float: right;
	color: #949494;
	margin-left: 15px;
}

.left-con ul li a:hover{
	color: #005aa0;
	text-decoration: underline;
}

.middle-con{
	width: 735px;
}

.right-con {
	width: 248px;
	margin-left: 1px;
}

.middle-con img, .right-con img{
	width: 100%;
	height: 260px;
}

.middle-unit {
	height: 97px;
	width: 204px;
	border: 1px solid #dfdfdf;
	border-left: none;
	padding: 28px 10px 19px 30px;
}

.middle-:last-child{
	border-right: none;
}

.middle-unit .title{
	font-size: 18px;
	font-weight: bold;
	color: #333;
	text-align: center;
}

.middle-unit .mid-list{
	margin-top: 20px;
}
.middle-unit .mid-list li {
	margin: 5px 8px;
}
.middle-unit .mid-list li a{
	font-family: 'Microsoft Yahei';
	color: #7b7b7b;

}

.middle-unit .mid-list li a:hover, .middle-unit .mid-list li a.hot:hover{
	text-decoration: underline;
	color: #0b5c9e;
}
.middle-unit .mid-list li a.hot{
	color: #ff4883;
}

.right-con .download{
	width: 245px;
	height: 144px;
	border:1px solid #dfdfdf;
}

.pic-con{
	margin-top: 20px;
}

.pic-con-title{
	margin-bottom: 10px;
}

.pic-con-title h3{
	display: inline-block;
	font-size: 20px;
	color: #000;
}

.pic-con-title .desc{
	font-size: 16px;
	color: #999;
}

.pic-left-con{
	width: 960px;
}

.pic-left-main-con{
	border: 1px solid #dfdfdf;
	border-right: none;
}

.pic-left-main-con ul{
	margin-left: 1px solid #fff;
}

.pic-left-main-con ul li{
	border-right: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
}

.pic-left-main-con ul li img{
	width: 145px;
	height: 80px;
	cursor: pointer;
}

.pic-right-con{
	margin-left: 980px;

}

.pic-right-con h2{
	font-size: 20px;
	color: #444;
	font-weight: bold;
}


.unit{
	position: relative;
	height: 135px;
	overflow: hidden;
	cursor: pointer;
}

.unit .bg-cls{
	position: absolute;
	top: 10px;
	left: 100px;

}
.unit  h3{ 
	font-size: 16px;
	font-weight: 700;
	color: #000;
	margin-top: 20px;
	margin-left: 15px;
}

.unit:hover h3{
	color: #ff4883;
}

.unit  p{
	margin-left: 15px;
	margin-top: 10px;
}

/*中间展示区域*/
.list-con{
	margin-top: 40px;
}

.list-con-title a:hover, .itemlist-appertain:hover{
	color: #005aa0;
	text-decoration:underline;
}

.itemlist{
	margin-top: 10px;
}

.itemlist li {
	width: 224px;
	padding: 4px;
	/*box-sizing:content-box;*/
	margin-left: 7px;
	border: 1px solid transparent;
}

.itemlist li:hover{
	border: 1px solid #ff4883;
}

.itemlist li a:hover .borderbox p{
	display: block;
}

.itemlist li a:hover h4{ 
	color: #ff4883;
}

.imgbox{

}

.borderbox{
	width: 224px;
	height: 135px;
	border: 1px solid #dfdfdf;
	overflow: hidden;
	position: relative;
}

.borderbox p{
	height: 40px;
	line-height: 40px;
	position: absolute;
	bottom: 0;
	left: 0;
	/*width: 100%;*/
	right: 0;
	padding-left: 15px;
	color: #fff;
	background: rgba(0,0,0, 0.6);
	display: none;
}

.borderbox img{
	width: 100%;
}

h4.itemlist-title{
	color: #444;
	font-size: 16px;
	max-width: 186px;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-top: 15px;
	font-weight: bold;
}

.itemlist-appertain{
	margin-top: 10px;
	display: inline-block;
	color:#666;

}

